body{
    background: linear-gradient(to right, #e66465, #9198e5);
    /* font-family: 'Chelsea Market', cursive; */
    box-sizing: border-box;
    /* font-weight: bold; */
    /* font-size: 3em; */
    padding: 0;
    margin: 0;
    text-align: center; 
    height: 100vh;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin: 0;
    height: 20vh;
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: bold;
    font-size: 3em;
}

table {
    margin: 40px auto 20px auto;
    border-collapse: collapse;
}

.cell {
    width: 90px;
    height: 90px;
    cursor: pointer;
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: bold;
    font-size: 3em;
}

tr:nth-child(2) {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

td:nth-child(2) {
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.winner_dialog {
    margin: 0  auto;
    height: 10%;
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: bold;
    font-size: 2em;
}

.new_game_button {
    font-size: 1em;
    margin: 20px auto 0 auto;
    cursor: pointer;
    height: 10%;
}

footer {
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 30%;
    font-family: 'Baloo Chettan 2', cursive;
}

@media (min-width: 480px){
    footer {
        display: none;
    }
}